h1 {
  color:red;
  text-align: center;
}

img {
  opacity: 0;
  align-self: flex-start;
}

.dad {
  display: flex;
  /* justify-content: center; */
  border: 5px solid black;
  min-height: 700px;
  /* background-image: url(Assets/images/Haunted-House-medium-colored.png); */
  background-color: black;
}

@keyframes flashIn {
  from {
    color: white;
  }
  to {
    color: black;
    }
}


h2.vanquished {
    color: white;
    animation-name: flashIn;
    animation-duration: 2s;
}

.boxes {
  -ms-align-items: center;
  align-items: center;
}
