html {

}

img {
  opacity: 0;
  align-self: center;
  max-height: 20vh;
}

.dad {
  display: flex;

  /* justify-content: center; */
  border: 5px solid black;
  min-height: 500px;

  margin: 30px;
  /* background-image: url(Assets/images/Haunted-House-medium-colored.png); */
  background-color: black;
  cursor: url("Assets/images/flashlgiht-cursor.png"), default;
}

@keyframes flashIn {
  from {
    color: white;
  }
  to {
    color: black;
    }
}

h2 {
    font-size: 20px;
}


h2.vanquished {
    color: white;
    animation-name: flashIn;
    animation-duration: 2s;
    /* width: 100%; */
}

h2.escaped {
    color: red;
    /* animation-name: flashIn; */
    animation-duration: 2s;
    /* width: 100%; */
}

.boxes {
  -ms-align-items: center;
  align-items: center;
  /* max-width: 7.1%;
  min-width: 7.1%; */
}

.score {
  position: sticky;
  bottom:0;
}
